body{
    background-image: url(https://images.unsplash.com/photo-1663970206579-c157cba7edda?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9uZG8lMjBkZSUyMHBhbnRhbGxhJTIwcGFyYSUyMHBjfGVufDB8fDB8fHww);
    margin: 3cm;
    min-height: 1vh;
    font-family: Arial, sans-serif;
}
.container{
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    text-align: center;
}
.titulo{
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #ccc;
    margin: 2cm;
    border-radius: 10px;
}
.foto {
    width: 33%;
    border-radius: 5px;
}
.boton {
    display: inline-block;
    width: 22%;
    text-align: center;
    background-color:purple ;
    border-radius: 10px;
    color: white;
}
.boton:hover {
    background-color: lightseagreen;
    border-radius: 10px;
    color: white;
}