body{
    background-color: #e6cba5;
    margin: 1cm;
    min-height: 3vh;
    font-family: Arial, sans-serif;
}
.boton{
    display: inline-block;
    border-radius: 6px;
    border-color: rgb(0, 0, 0);
    width: 30%;
    padding: 5px;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;

}
p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    bottom: 0;
    background-color:  #6d7578 ;
    position: inherit;
    width: 100%;
    padding: 10px;
    border-top: 1px solid;
}
.container{
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
}
img{
    height: auto;
    display: inline-block;
}
.titulo{
    text-decoration: underline;
}
h1{
    margin: 0;
}
.header{
    display: inline-block;
    justify-content: space-between; 
    align-items: center;
}
header{
    display: inline-block;
    justify-content: space-between; 
    align-items: center;
}
div{
    text-align: center;
}
.foot:hover{
    background-color: #e7bfa5;
}
iframe{
    width: 560px;
    height: 315px;
    border: 5px solid rgb(119, 119, 119);
    border-radius: 10px;
}