body{
    background-image: url(https://thumbs.dreamstime.com/b/puente-de-la-torre-en-londres-reino-unido-38138737.jpg);
    margin: 1cm;
    min-height: 3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    border: 2px solid #050505;
    padding: 20px;
    background-color: #a9d4ec;
    align-items: center;
    justify-content: space-between;
}

div{
    text-align: center;
}