header{
    background-color: #333;
    text-align: center;
    padding: 20px 0;
}
.header{
  font-family: "Century Gothic" ;
  border-collapse: collapse;
  width:100%; 
}
.boton:hover{
  background-color:  #878b8d;
}
td{
  border:0px solid  #6d7578;
  border-radius: 5px;
  color: #fff;
}
td{
  border:0px solid  #6d7578;
  border-radius: 15px;
}
.enlace{
  text-decoration: none;
  color:whitesmoke;
}
.boton, .encabezado{
  padding: 15px;
  text-align: center; 
}